<div class="homePageOne">
    <div class="contentBody scroller">
        <div class="contentContainer">
            <div class="menus">
                <app-menu></app-menu>
            </div>
            <!-- <form class="formContent">
                <div class="title">Title</div>
                <div class="form">
                    <input required type="text" id="fname" name="fname"><br><br>
                    <input required type="text" id="fname" name="fname"><br><br>
                    <input required type="text" id="fname" name="fname"><br><br>
                    <input required type="text" id="fname" name="fname"><br><br>
                </div>
                <div class="buttons">
                    <button type="button" class="resetBtn">Reset</button>
                    <button type="submit" class="submitBtn">Submit</button>
                </div>
            </form> -->
            <div class="formBody">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
    <div class="side">
        <app-side-bar></app-side-bar>
    </div>
</div>